include MANIFEST.in
include .gitmodules
include version.txt
exclude tests/*
exclude .gitignore
exclude third_party/*
exclude docs/*
exclude tools/*
exclude script/*
exclude configs/*
exclude triton_tutorials/*
exclude .vscode/*
recursive-include aihpc *.*
prune */__pycache__
exclude aihpc/cc/*
global-exclude *.o *.so *.dylib *.a .git *.pyc *.swp
global-exclude *CMakeLists.txt *.cc *.cpp *.cu *_py_module.h